## Data Cleaning

### Importing necessary libraries

In [1]:
# Importing necessary libraries:
import os

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

### Importing the data

In [2]:
# Importing data:
script_dir_path = os.path.dirname(os.path.abspath(__name__))
base_dir_path = os.path.abspath(os.path.join(script_dir_path, '../'))

data_path = os.path.abspath(os.path.join(base_dir_path, "data/Amazon Sale Report.csv"))

# reading the data:
data = pd.read_csv(data_path, encoding='latin1')
data.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN

### Basic information about the data:

In [3]:
# shape:
print(f"The dataset contains {data.shape[0]} rows and {data.shape[1]} columns")

The dataset contains 128976 rows and 21 columns

In [4]:
# Columns:
data.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'ship-service-level', 'Category', 'Size', 'Courier Status', 'Qty',
       'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code',
       'ship-country', 'B2B', 'fulfilled-by', 'New', 'PendingS'],
      dtype='object')

In [5]:
# datatype of each columns:
data.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Category               object
Size                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
B2B                      bool
fulfilled-by           object
New                   float64
PendingS              float64
dtype: object

### Dropping irrelevant columns

In [6]:
# drop "index" and "Order ID" columns:
data.drop(["index", "Order ID"], axis=1, inplace=True)
data.dtypes

Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Category               object
Size                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
B2B                      bool
fulfilled-by           object
New                   float64
PendingS              float64
dtype: object

### Percantage of missing values:

In [7]:
def percentage_of_missing_data():
    no_of_missing_data = data.isna().sum()
    percentage_of_missing_data = (no_of_missing_data * 100) / data.shape[0]
    return round(percentage_of_missing_data, 2)

In [8]:
percentage_of_missing_data()

Date                    0.00
Status                  0.00
Fulfilment              0.00
Sales Channel           0.00
ship-service-level      0.00
Category                0.00
Size                    0.00
Courier Status          0.00
Qty                     0.00
currency                6.05
Amount                  6.05
ship-city               0.03
ship-state              0.03
ship-postal-code        0.03
ship-country            0.03
B2B                     0.00
fulfilled-by           69.56
New                   100.00
PendingS              100.00
dtype: float64

##### "fulfilled-by", "New" and "PendingS" columns have more null velues. They are not required for the analysis. So, it can be removed.

In [9]:
# dropping "fulfilled-by", "New" and "PendingS" columns:
data.drop(["fulfilled-by","New","PendingS"], axis=1, inplace=True)
data.dtypes

Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Category               object
Size                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
B2B                      bool
dtype: object

##### Here "Status" and "Courier Status" columns conveys the same message. So, we can use any one column for our analysis.

In [10]:
# "Status" column can be dropped.
data.drop(["Status"], axis=1, inplace=True)
data.dtypes

Date                   object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Category               object
Size                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
B2B                      bool
dtype: object

In [11]:
data.head()

,Date,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,04-30-22,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False
1,04-30-22,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False
2,04-30-22,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True
3,04-30-22,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False
4,04-30-22,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False

#### Lets analyse "currency" and "ship-country" columns

In [12]:
# "currency" column:
data["currency"].value_counts()

currency
INR    121176
Name: count, dtype: int64

In [13]:
# "ship-country" column:
data["ship-country"].value_counts()

ship-country
IN    128941
Name: count, dtype: int64

* Here, the entire data is based on "India" and "Indian currency". So, we can drop "currency", "ship-country" and "ship-postal-code".

In [14]:
# dropping "currency" and "ship-country" columns:
data.drop(["currency","ship-country","ship-postal-code"], axis=1, inplace=True)
data.dtypes

Date                   object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Category               object
Size                   object
Courier Status         object
Qty                     int64
Amount                float64
ship-city              object
ship-state             object
B2B                      bool
dtype: object

In [15]:
data.head()

,Date,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,B2B
0,04-30-22,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,647.62,MUMBAI,MAHARASHTRA,False
1,04-30-22,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,406.00,BENGALURU,KARNATAKA,False
2,04-30-22,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,True
3,04-30-22,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,753.33,PUDUCHERRY,PUDUCHERRY,False
4,04-30-22,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,574.00,CHENNAI,TAMIL NADU,False

### Lets see all the unique values present in categoric columns

#### Fulfilment

In [21]:
data["Fulfilment"].unique()

array(['Merchant', 'Amazon'], dtype=object)

#### Sales Channel

In [22]:
data["Sales Channel"].unique()

array(['Amazon.in', 'Non-Amazon'], dtype=object)

#### ship-service-level

In [23]:
data["ship-service-level"].unique()

array(['Standard', 'Expedited'], dtype=object)

#### Category

In [24]:
data["Category"].unique()

array(['T-shirt', 'Shirt', 'Blazzer', 'Trousers', 'Perfume', 'Socks',
       'Shoes', 'Wallet', 'Watch'], dtype=object)